# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binary folder
bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Test coverage folder
coverage

# Test result files
script/*Results.txt
script/testResultsPipe

# VSCode settings folder
.vscode
.env
